<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- ASP.NET のバージョン指定など、必要に応じて設定を追加 -->
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <!-- 静的ファイルや既定のドキュメントの設定 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
